#scroll-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

#sticky-header-background {
    position: sticky;
    top: 0;
    flex: 1 100%;
    height: 71px;
    background-color: black;
    z-index: 2;
}

#scroll-content {
    position: relative;
    top: 0px;
    margin: 100px 40px 40px 40px;
    width: 100%;
}

#date-selector-container h1,
#date-selector-container form,
#date-selector-container form div {
    display: inline;
}

form input[type='text'] {
    color: white;
    font-size: 2.4vw;
    font-weight: 400;
    text-align: center;
}

form input {
    background-color: #202124;
    border: 0;
    border-radius: 10px;
}

form input:focus {
    outline: 1px solid white;
}

#month-field {
    width: 13ch;
}

#year-field {
    width: 8ch;
}

#articles-container {
    margin-top: 60px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.article {
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
}

.article h3, .article h4 {
    color: white;
    padding-left: 40px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article h3 {
    -webkit-line-clamp: 4;
}

.article h4 {
    -webkit-line-clamp: 1;
}

.green-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    background-color: #076d04;
    border-top-left-radius: 9px;
    border-right: 1px solid white;
    border-bottom: 0.5px solid white;
}

.red-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    background-color: #921616;
    border-bottom-left-radius: 9px;
    border-right: 1px solid white;
    border-top: 0.5px solid white;
    
}

.fill-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}