div {
    min-height: calc(var(--lvh) * 100);
    display: flex;
    flex-direction: column;
}

article-search-demo-component {
    /* assumes that article-search-demo-component has some flex logic implemented */
    display: flex;
    flex-direction: column;
    flex: 1;
}