.inline {
    text-decoration: none;
    color: var(--blue);
    position: relative;
    white-space: nowrap;
}

.inline:hover {
    color: var(--blue);
}

.inline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.inline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
