@import "../../../styles/breakpoints.css";
@import "../../../styles/global.css";
@import "../../../styles/hyperlinks-inline.css";
@import "../../../styles/mobile.css";

div {
    width: 100%;
    height: 100lvh;
    position: fixed;
    z-index: -99;
}