@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('../fonts/argentum-sans-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    --blue: #3C65D2;
    --black-gray: #0f1315;
    --dark-gray: #252c33;
    --medium-gray: #7c868a;
    --light-gray: #b1c3cf;
    --white: #ffffff;
    --lvh: 1lvh;
}

* {
	box-sizing: border-box;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: 0;
    color: var(--black-gray);
    background-color: var(--white);
    font-family: 'Nunito Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Argentum Sans', sans-serif;
    font-weight: 300;
}

h2, input[type='text'], h3, h4, p {
    font-weight: 400;
}

img {
    pointer-events: none;
}

form input[type='text'] {
    color: var(--white);
    background-color: var(--dark-gray);
    text-align: center;
    border: 0;
    border-radius: 0.5rem;
}

::placeholder {
    color: var(--medium-gray);
 }

form input:focus {
    outline: 1px solid var(--white);
}

.dark-mode {
    color: var(--white);
    background-color: var(--black-gray);
}